In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('arabic_dataset_classifiction.csv')
df.head()

                                                text  targe
0  بين أستوديوهات ورزازات وصحراء مرزوكة وآثار ولي...      0
1  قررت النجمة الأمريكية أوبرا وينفري ألا يقتصر ع...      0
2  أخبارنا المغربية الوزاني تصوير الشملالي ألهب ا...      0
3  اخبارنا المغربية قال ابراهيم الراشدي محامي سعد...      0
4  تزال صناعة الجلود في المغرب تتبع الطريقة التقل...      0

In [7]:
df['text'] = df['text'].astype(str)

In [14]:
def split_article(article):
    return article.split(' ')
# 28437603 rows

# split articles into words
df_words = df['text'].apply(split_article).explode().reset_index(drop=True)

In [19]:
# remove duplicates
df_words_unique = df_words.drop_duplicates().reset_index()
df_words_unique = df_words_unique.drop(columns=['index'])

In [21]:
df_words_unique.to_csv('words_unique.csv')

In [22]:
# 5 letters words
df_5l = df_words_unique[df_words_unique['text'].str.len() == 5]
df_5l

         text
5       وآثار
6       وليلي
10      انتهى
17      تصوير
18      مشاهد
...       ...
423515  لأسلم
423517  وإنزو
423525  وبدرب
423528  واسيك
423533  إيڭلز

[76772 rows x 1 columns]